{% extends 'base.html.twig' %}

{% block title %}new Author :: lib.skillcoder.com{% endblock %}

{% block body %}
    <h1>Add new author &#x2795;</h1>
	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}
{% endblock body %}
