{% extends 'base.html.twig' %}

{% block title %}Book :: lib.skillcoder.com{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Books ✅</h1>
    <a href="/book/add" class="btn btn-success">Add</a>
    {% if books %}
        <table id="table" class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
                {% for book in books %}
                    <tr>
                        <td>{{ book.id }}</td>
                        <td>
                            {{ book.name }}
                        </td>
                        <td>
                            <a href="#" class="btn btn-danger delete-item" data-id="{{ book.id }}" data-item="book">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No books to display, please add some...</p>
    {% endif %}
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}

